@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";

@layer base {
    html {
      font-family:  "Inter", sans-serif;
    }
  }


  .logo {
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  color: #0e8eff;
  }
  .logo:hover {
    color: #4181ff;
  }
  .logo:active {
    color: #2480f8;
  } 

/* From Uiverse.io by Yaya12085 */ 
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  animation: spin 1s linear infinite;
  stroke: rgba(107, 114, 128, 1);
}

.loading-text {
  font-size: 1.25rem;
  line-height: 1rem;
  font-weight: 500;
  color: rgba(107, 114, 128, 1);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}